/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--cor-secundaria);
}

:root {
    --cor-principal: #cb2724;
    --cor-secundaria: #FEFDFD;
    --cor-fundo: #040102;
}

@font-face {
    font-family: 'Milker';
    src: url(./fonts/Milker.otf);
}

/* header */
.cabecalho {
    background: var(--cor-principal);
    display: flex;
    align-items: center; /* antes align-self */
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    max-height: 180px;
}

.cabecalho h1{
    font-family: 'Milker';
    font-size: 3.5rem;
}

/* logo e imagens */
.logo {
    max-width: 150px;
    height: auto;
}

header img {
    max-width: 100px;
    height: auto;
}

/* contatos */
.cabecalho .contatos {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #000;
    border-radius: 30px;
    padding: 10px;
    min-width: 200px; 
    width: auto;
}


.cabecalho .contatos a img,.whats {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    transition: transform 0.25s ease, background-color 0.25s;
    border-radius: 12px;
}
.cabecalho .contatos a .instagram:hover,
.cabecalho .contatos .contato_whats .whats:hover {
    transform: scale(1.08);
}

/* textos de contato */
.contato_whats {
    display: flex;
    gap: 8px;
    align-items: center;
}
.contato_whats p {
    color: #fff;
    font-size: 0.875rem; /* use rem para acessibilidade */
}

/* main */

main{
    background-color: var(--cor-fundo);

    width: 100%;
    height: 100%;
}

main video{
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 600px;

    transform: rotate(270deg);
}

main video::-webkit-media-controls{
    transform: rotate(270deg);
}

/* cards */

.sub_titulo{
    text-align: center;
    color: var(--cor-secundaria);
    font-family: "Milker";
    font-size: 2rem;
    margin: 20px 0;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px

}

.card{
    background-color: var(--cor-principal);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    margin: 15px;
    padding: 20px;
    width: 350px;
    height: 450px;

    transition: transform 0.25s ease, box-shadow 0.25s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card_text{
    text-align: center;
}

.card_text h2{
    color: var(--cor-fundo);
    padding: 10px;
    font-family: "Milker";
}

.cards img{
    width: 300px;
    height: 300px;

    display: flex;
}

.container_local{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    background-color: var(--cor-principal);
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    margin: auto;
}

.container_local .texto_local{
    color: var(--cor-secundaria);
    font-family: "Milker";
    text-align: center;
}

.container_local .texto_local h3{
    font-size: 2rem;
    padding-bottom: 70px;
}